body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    line-height: 2;
}

a{
    color: #11999E;
}

hr{
    color: #d3e0ea;
    border-style: dotted none none;
    border-width: 5px;
    width: 2.5%;
    margin: 50px auto;
}

.font{
    font-weight: normal;
}

.container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 15%;
    max-width: 150px;
    height: auto;
}

.bottom-cloud{
    position: absolute;
    left: 15%;
    bottom: 300px;
    max-width: 150px;
    height: auto;
}

.mountain{
    max-width: 30%;
    height: auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 200px;
    text-align: left;
}

.skills-image-1{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skills-image-2{
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 100%;
}

.profile-image{
    width: 10%;
    height: auto;
    border-radius: 100%;
}

 .footer-link{
     color: #EAF6F6;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     padding: 25px;
 }

 .footer-link:hover{
    color: #40514E;
 }

 .bottom-container{
     background-color: #66BFBF;
     padding: 50px;
 }

 .copyright{
     color: #EAF6F6;
     margin-top: 50px;
 }

 .middle-container{
     margin: 50px auto;
 }

 .btn{
    color: white;
    text-decoration: none;
    background: #A3DDCB;
    background-image: -webkit-linear-gradient(top, #A3DDCB, #5EAAA8);
    background-image: -moz-linear-gradient(top, #A3DDCB, #5EAAA8);
    background-image: -ms-linear-gradient(top, #A3DDCB, #5EAAA8);
    background-image: -o-linear-gradient(top, #A3DDCB, #5EAAA8);
    background-image: -webkit-gradient(to bottom, #A3DDCB, #5EAAA8);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    margin: 50px auto;
 }

.btn:hover{
    background: #BBDFC8;
    background-image: -webkit-linear-gradient(top, #BBDFC8, #75CFB8);
    background-image: -moz-linear-gradient(top, #BBDFC8, #75CFB8);
    background-image: -ms-linear-gradient(top, #BBDFC8, #75CFB8);
    background-image: -o-linear-gradient(top, #BBDFC8, #75CFB8);
    background-image: -webkit-gradient(to bottom, #BBDFC8, #75CFB8);
}
 
.intro{
    width: 25%;
    margin: auto;
    line-height: 2;
}

.contact{
    width: 30%;
    margin: 40px auto 20px;
}

.tindog:hover{
    color: #28b5b5;
}


@media (max-width: 1204px){

    .top-cloud{
        visibility: hidden;
    }

    .bottom-cloud{
        visibility: hidden;
    }

}
